section {
  .owl-carousel {
    .item > img {
      display: block;
      height: auto;
      width: 100%;
    }

    .owl-dots {
      position: absolute;
      left: 50%;
      bottom: 5px;
      transform: translate(-50%, -5px);
      @media screen and (min-width: 780px) {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }
    }

    .item > .d-none {
      display: block !important;
      @media screen and (min-width: 780px) {
        display: block !important;
      }
    }

    .item > .carousel-caption {
      @media screen and (min-width: 780px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
      }

      h1 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        @media screen and (min-width: 780px) {
          font-size: 4.5rem;
          font-weight: 700;
          margin: 0;
        }
      }
      p {
        font-size: 1rem;
        @media screen and (min-width: 780px) {
          font-size: 1.4rem;
          margin: 30px 0;
        }
      }

      .btn-group-lg > .btn,
      .btn-lg {
        font-size: 1rem !important;
        margin: 0 5px;

        @media screen and (min-width: 780px) {
          font-size: 1.25rem !important;
        }
      }

      .btn-work {
        button {
          @media screen and (min-width: 780px) {
            width: 176px;
            height: 43px;
            margin: 0 12px;
          }
        }
        .btn-caroudel-read {
          background-color: transparent !important;
          border-color: #b5b5b5;
        }

        .btn-caroudel-visit {
          background-color: var(--primary-color) !important;
          border-color: var(--primary-color);
        }
      }
    }
  }

  .owl-theme {
    .owl-dots {
      .owl-dot span {
        width: 5px;
        height: 5px;
        margin: 5px 4px;

        @media screen and (min-width: 780px) {
          width: 10px;
          height: 10px;
          margin: 5px 7px;
        }
      }
    }
  }

  .content-plans {
    .row {
      margin: 0 !important;
      .text-decoration {
        width: 71px;
        border: 0.7px solid #555555;
        margin: 5px 0;

        @media screen and (min-width: 780px) {
          width: 71px;
          border: 1px solid;
          margin: 10px 0;
        }
      }
      h3 {
        color: #555555;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 30px;
        @media screen and (min-width: 780px) {
          font-size: 1.7rem;
          margin-top: 10px;
        }
      }
      p {
        text-align: center;
        margin: 0 30px;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #555555;
        @media screen and (min-width: 780px) {
          margin: 0 60px;
          font-size: 1.3rem;
          line-height: 2rem;
        }
      }
      div {
        .introduction-label {
          display: flex;
          justify-content: center;
          @media screen and (min-width: 780px) {
            justify-content: start;
          }
          align-items: center;
          margin-top: 20px;
          h3 {
            margin: 0 10px;
            font-weight: 500;
          }
          i {
            color: var(--primary-color);
            font-size: 2.5rem;
          }
        }
        .introduction-content {
          p {
            text-align: left;
            margin: 0 0 10px 30px;
            @media screen and (min-width: 780px) {
              font-size: 1.3rem;
              line-height: 2rem;
            }
          }

          a {
            text-decoration: none;
            margin-left: 30px;
            color: var(--text-color);
            font-weight: 700;
          }

          a:focus {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  .video {
    background-color: #f7f7f7;
    div {
      // padding: 10px 0;
      .row {
        padding: 40px 0;
        div:nth-child(1) {
          display: flex;
          justify-content: center;

          iframe {
            // margin-top: 30px;
            width: 100%;
            height: 314px;
            @media screen and (min-width: 780px) {
              margin-top: 100px;
              // margin-bottom: 91px;
            }
          }
        }
        div:nth-child(2) {
          h1 {
            margin: 10px 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            color: #555555;
            @media screen and (min-width: 780px) {
              text-align: left;
              margin-top: 100px;
            }
          }

          .text-decoration {
            border: 1px solid;
            width: 71px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            @media screen and (min-width: 780px) {
              left: 10%;
            }
          }
          p {
            text-align: center;
            color: var(--text-color);
            margin: 20px 0;
            @media screen and (min-width: 780px) {
              text-align: left;
              margin-top: 40px;
            }
          }

          .btn-work {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            @media screen and (min-width: 780px) {
              justify-content: start;
            }

            button {
              margin: 0 5px;
              border-radius: 0;
              @media screen and (min-width: 780px) {
                padding: 0;
                width: 101px;
                height: 36px;
              }
            }

            button:nth-child(1) {
              background-color: transparent;
              color: #555555;
              border-color: #7e7e7e;
            }
            button:nth-child(2) {
              background-color: var(--primary-color);
              border-color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  .about-us {
    .row {
      div {
        .us-content {
          margin: 20px 0;
          .row {
            div:nth-child(1) {
              padding: 0;
              img {
                width: 100%;
              }
            }

            div:nth-child(2) {
              @media screen and(min-width:780px) {
                padding: 0;
              }
              h4 {
                font-size: 1.3rem;
                margin: 0;

                @media screen and(min-width:780px) {
                  margin-top: 20px;
                  font-size: 1.5rem;
                  font-weight: 600;
                }
              }
              p {
                margin: 15px 0;
                text-align: left;
              }
              a {
                color: var(--primary-color);
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .counter {
    width: 100%;
    background-color: #000000;

    .content-counter {
      .row:nth-child(1) {
        h3 {
          color: #fafafa;
        }
      }
      .decoration {
        .text-decoration-number {
          margin: 5px 0 10px 0;
          width: 71px;
          border: 0.7px solid #fafafa;
        }
      }

      .row:nth-child(3) {
        p {
          color: #fafafa;
        }
      }
      .content-number {
        display: flex;
        color: #fafafa;
        .content-number-item {
          width: 262px;
          height: 116px;
          border: 1px solid var(--text-color);
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 42px 10px 67px;

          .content-number-title {
            text-align: center;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .block {
    margin: 40px 0;

    div {
      display: block;
      @media screen and (min-width: 780px) {
        display: flex;
        align-items: center;
      }
      .awards-left {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        @media screen and (min-width: 780px) {
          margin: 20px 10px;
        }
        .awards-left-item {
          display: flex;
          flex-direction: row-reverse;
          .awards-left-icon {
            min-width: 56px;
            height: 56px;
            background-color: var(--primary-color);
            border-radius: 50%;
            position: relative;

            i {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #ffffff;
              font-size: 1.5rem;
            }
          }
          .awards-content {
            margin-right: 20px;
            display: block;
            h4,
            p {
              text-align: end;
            }
          }
        }
        .awards-left-item:nth-child(2) {
          @media screen and (min-width: 780px) {
            margin: 10px 0;
          }
          .awards-left-icon {
            background-color: #333333;
          }
        }
      }

      .awards-right {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        @media screen and (min-width: 780px) {
          margin: 20px 10px;
        }
        .awards-right-item {
          display: flex;
          flex-direction: start;
          .awards-right-icon {
            min-width: 56px;
            height: 56px;
            background-color: var(--primary-color);
            border-radius: 50%;
            position: relative;

            i {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #ffffff;
              font-size: 1.5rem;
            }
          }
          .awards-content {
            margin-left: 20px;
            display: block;
            h4,
            p {
              text-align: start;
            }
          }
        }
        .awards-right-item:nth-child(2) {
          @media screen and (min-width: 780px) {
            margin: 10px 0;
          }
          .awards-right-icon {
            background-color: #333333;
          }
        }
      }
     
    }
  }

  .portfolio {
    display: block;
    @media screen and (min-width: 780px) {
      display: flex;
    }
    .portfolio-item {
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 10px;
      @media screen and (min-width: 780px) {
        margin-bottom: 0;
      }
      img {
        width: 90%;
        @media screen and (min-width: 780px) {
          width: 100%;
        }
      }
    }
    .portfolio-item:hover .portfolio-content {
      opacity: 1;
    }
    .portfolio-content {
      width: 90%;
      @media screen and (min-width: 780px) {
        width: 100%;
      }
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: #ffffff;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgba(67, 67, 67, 0.8);
      div {
        border: 1px solid;
        width: 40px;
        margin-bottom: 5px;
      }
      button {
        background-color: transparent;
        border: 1px solid var(--text-color);
        color: #ffffff;
      }
    }
  }

  .maps {
    background-color: #f7f7f7;
    div {
      .row {
        flex-direction: row-reverse;
        padding: 20px 0;
        div:nth-child(1) {
          iframe {
            width: 100%;
            height: auto;
            @media screen and(min-width:780px) {
              height: 314px;
            }
          }
        }
        div:nth-child(2) {
          margin-top: 10px;
          @media screen and(min-width:780px) {
            margin: 0;
          }
          h3 {
            text-align: center;
            @media screen and(min-width:780px) {
              text-align: left;
            }
          }
          div {
            display: flex;
            justify-content: center;
            @media screen and(min-width:780px) {
              justify-content: start;
            }
            .textdecoration {
              width: 71px;
              border: 1px solid;
            }
          }

          p {
            font-size: 1.3rem;
          }

          .btn-work {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            @media screen and (min-width: 780px) {
              justify-content: start;
            }

            button {
              margin: 0 5px;
              border-radius: 0;
              @media screen and (min-width: 780px) {
                padding: 0;
                width: 101px;
                height: 36px;
              }
            }

            button:nth-child(1) {
              background-color: transparent;
              color: #555555;
              border-color: #7e7e7e;
            }
            button:nth-child(2) {
              background-color: var(--primary-color);
              border-color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  .member {
    .content-member {
      display: block;
      margin: 20px 0;
      @media screen and (min-width: 780px) {
        display: flex;
        margin: 40px 0;
      }
      .member-item {
        display: flex;
        align-items: center;
        margin: 10px 0;
        @media screen and (min-width: 780px) {
          display: block;
          margin: 0;
        }
        .hvrbox {
          margin-right: 5px;
          position: relative;
          display: inline-block;
          max-width: 100%;
          height: auto;
          .hvrbox-layer_bottom {
            display: block;
            width: inherit;
            @media screen and (min-width: 780px) {
              width: 100%;
            }
          }
          .hvrbox-layer_top {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            padding: 15px;
            -moz-transition: all 0.4s ease-in-out 0s;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -ms-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
          }
        }

        .hvrbox:hover .hvrbox-layer_top,
        .hvrbox.active .hvrbox-layer_top {
          opacity: 1;
        }

        .hvrbox .member-contact {
          text-align: center;
          font-size: 18px;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          -moz-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        .hvrbox,
        .hvrbox * {
          box-sizing: border-box;
        }
        .member-description {
          margin-left: 5px;
          h3 {
            font-size: 1.3rem;
            font-weight: 600;
            @media screen and (min-width: 780px) {
              font-size: 1.75rem;
              margin-top: 10px;
            }
          }
          h4 {
            font-size: 1.3rem;
            margin: 10px 0;
          }
        }
      }
    }
  }

  .agency {
    background-color: #f7f7f7;
    div {
      .label {
        padding-top: 20px;
      }
      .btn-work {
        display: flex;
        justify-content: center;

        padding-bottom: 20px;
        button {
          margin: 0 5px;
          border-radius: 0;
          @media screen and (min-width: 780px) {
            padding: 0;
            width: 101px;
            height: 36px;
          }
        }

        button:nth-child(1) {
          background-color: transparent;
          color: #555555;
          border-color: #7e7e7e;
        }
        button:nth-child(2) {
          background-color: var(--primary-color);
          border-color: var(--primary-color);
        }
      }
    }
  }
}
