footer {
  .footer-top {
    background-color: rgba(39, 39, 39, 0.9);
    .footer-top-content {
      .row {
        color: #ffffff;
        div:nth-child(1) {
          margin: 20px 0;
          .img {
            display: flex;
            justify-content: center;
            @media screen and (min-width: 780px) {
              justify-content: start;
            }
          }
          .description {
            text-align: center;
            @media screen and (min-width: 780px) {
              text-align: start;
            }
          }
        }
        div:nth-child(2) {
          .row {
             
            .latest {
                margin: 0;
              div {
                display: flex;
                align-items: center;
                div:nth-child(1) {
                  width: 65%;
                  @media screen and (min-width: 780px) {
                    width: 40%;
                  }
                  border: 1px solid var(--primary-color);
                }
                div:nth-child(2) {
                  width: 35%;
                  @media screen and (min-width: 780px) {
                    width: 60%;
                  }
                  border: 1px dotted #ffffff;
                }
              }
              ul {
                list-style: none;
                padding: 0;

                li {
                  border-bottom: 0.5px solid #ffffff;
                  p {
                    margin: 0;
                  }

                  p:nth-child(2) {
                    margin-bottom: 10px;
                  }
                }

                li:nth-child(1) {
                  p:nth-child(1) {
                    margin-top: 10px;
                  }
                }

                li:nth-child(3) {
                  border-bottom: none;
                }
              }
            }
            .useful {
              div {
                display: flex;
                align-items: center;
                div:nth-child(1) {
                  width: 65%;
                  @media screen and (min-width: 780px) {
                    width: 40%;
                  }
                  border: 1px solid var(--primary-color);
                }
                div:nth-child(2) {
                  width: 35%;
                  @media screen and (min-width: 780px) {
                    width: 60%;
                  }
                  border: 1px dotted #ffffff;
                }
              }
              ul {
                list-style: none;
                padding: 0;
                li {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  border-bottom: 0.5px solid #ffffff;
                  a {
                    text-decoration: none;
                    color: #ffffff;
                    margin-bottom: 10px;
                  }
                  i {
                    font-size: 0.7rem;
                  }
                }

                li:nth-child(1) {
                  margin-top: 10px;
                }

                li:nth-child(5) {
                  border-bottom: none;
                }
              }
            }
            .contact {
              div {
                display: flex;
                align-items: center;
                div:nth-child(1) {
                  width: 65%;
                  @media screen and (min-width: 780px) {
                    width: 40%;
                  }
                  border: 1px solid var(--primary-color);
                }
                div:nth-child(2) {
                  width: 35%;
                  @media screen and (min-width: 780px) {
                    width: 60%;
                  }
                  border: 1px dotted #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: #000000;
    color: #ffffff;
    div {
      display: flex;
      justify-items: center;
      justify-content: space-between;
      .footer-content-left {
        margin: 10px 0;
        p {
          margin: 0 5px;
          color: var(--primary-color);
        }
        p:nth-child(1) {
          color: #ffffff;
        }
      }
      .footer-content-right {
        display: flex;
        align-items: center;
        margin: 10px 0;
        i {
          margin: 0 3px;
        }
      }

      .footer-content-left .footer-content-right {
        margin: 10px 0;
      }
    }
  }
}
