header {
  #navbartop {
    background-color: #ffffff;
    .container {
      .navbar-top {
        display: flex;
        justify-content: flex-end;
        a,
        i {
          margin: 9px 5px 0;
          font-size: 1.3rem;
          color: var(--text-color);
        }
      }
    }
  }

  #navbarbottom {
    border-bottom: 0.1px solid;
    box-shadow: 1px 2px 2px #888888;
    background-color: #ffffff;
    z-index: 1;
    .container {
      .navbar-bottom {
        display: block !important;
        font-size: 1.8rem;
        padding-bottom: 10px;
        @media screen and (min-width: 780px) {
          display: flex;
          justify-content: space-between;
          padding-bottom: 0;
          align-items: center;
        }

        img {
          @media screen and(min-width:780px) {
            line-height: 0;
          }
        }
        .main-nav {
          list-style: none;
          list-style-type: none;
          display: none;
          padding-right: 10px;

          @media screen and (min-width: 780px) {
            display: flex;
            margin-top: -16px;
            flex-direction: row;
            justify-content: flex-end;
          }
          li {
            text-align: end;
            margin: 15px auto;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            @media screen and (min-width: 780px) {
              margin: 0 10px;
              flex-direction: row;
            }
            a {
              margin-left: 10px;
            }
            a,
            i {
              text-decoration: none;
              color: var(--text-color);
              @media screen and (min-width: 780px) {
                margin-left: 3px;
              }
            }
          }

          button {
            @media screen and(min-width:780px) {
              margin-left: 17px;
              width: 44px;
              height: 47px;
              border: none;
              i {
                color: var(--text-color);
              }
            }
          }
          @media screen and(min-width:780px) {
            li:hover {
              border-bottom: 1px solid var(--primary-color);
              a,
              i {
                color: var(--primary-color);
              }
            }
          }
        }
        .navbar-toggle {
          position: absolute;
          top: 10px;
          right: 20px;
          cursor: pointer;
          color: #000000;
          font-size: 2.4rem;
          @media screen and(min-width:780px) {
            display: none;
          }
        }
        .active {
          display: block;
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
