@import "./header.scss";
@import "./content.scss";
@import "./footer.scss";

:root {
  --primary-color: #7dc945;
  --text-color: #555555;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6em;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

//Button Scroll Top

#scrolltop {
  display: none;
  border: none;
  min-width: 46px;
  height: 46px;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: fixed;
  bottom: 350px;
  right: 60px;
  cursor: pointer;
  z-index: 99;

  i {
    font-size: 2.5rem;
  }
}

#scrolltop:hover {
  background-color: #ffffff;
  i {
    color: var(--primary-color);
  }
}

#scrolltop:focus {
  outline: none;
}
